<canvas id="canvas"></canvas>
<img class="piece" id="K" src="assets/images/WK.png">
<img class="piece" id="Q" src="assets/images/WQ.png">
<img class="piece" id="R" src="assets/images/WR.png">
<img class="piece" id="N" src="assets/images/WN.png">
<img class="piece" id="B" src="assets/images/WB.png">
<img class="piece" id="P" src="assets/images/WP.png">
<img class="piece" id="bk" src="assets/images/BK.png">
<img class="piece" id="bq" src="assets/images/BQ.png">
<img class="piece" id="br" src="assets/images/BR.png">
<img class="piece" id="bn" src="assets/images/BN.png">
<img class="piece" id="bb" src="assets/images/BB.png">
<img class="piece" id="bp" src="assets/images/BP.png">
