.row
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-sm-6
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode
{
  height: 60vh;
  width: 80%;
  background: none;
  border: 5px solid;
  border-radius: 30px;
  color: whitesmoke;
  border-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  font-size: 30px;
}

.buttons
{
  display: flex;
  justify-content: center;
  align-items: center;
}

button
{
  height: 100%;
  width: 40%;
  margin: 4%;
  background: none;
  border: 2.5px solid whitesmoke;
  border-radius: 15px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: whitesmoke;
  font-weight: lighter;
}

.form
{
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: lighter;
}

img {
  height: 40vh;
  width: auto;
}
