<div class="row">
  <div class="col-sm-6">
    <div class="mode">
      <div class=".form">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="fname" value="" placeholder=""><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="lname" value="" placeholder=""><br><br>
        <div class="buttons">
          <button (click)="schach.register();">Register</button>
          <button (click)="schach.login();">Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <img src="assets/images/board.png" alt="">
  </div>
</div>
