<div class="row">
  <div class="col-sm-3 player_1">
    <div class="player">
      <p *ngIf="schach.isMultiPlayer; then thenBlock_0 else elseBlock_0"></p>
      <ng-template #thenBlock_0>{{schach.singlePlayers[0]}}</ng-template>
      <ng-template #elseBlock_0>{{schach.multiPlayers[0]}}</ng-template>
    </div>
    <div class="clock">
      <button class="player_1">🕒 10:00</button>
    </div>
    <div class="deadPieces">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
    </div>
  </div>
  <div class="col-sm-6">
    <app-board></app-board>
  </div>
  <div class="col-sm-3 player_2">
    <div class="deadPieces">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
    </div>
    <div class="player">
      <p *ngIf="schach.isMultiPlayer; then thenBlock_1 else elseBlock_1"></p>
      <ng-template #thenBlock_1>{{schach.singlePlayers[1]}}</ng-template>
      <ng-template #elseBlock_1>{{schach.multiPlayers[1]}}</ng-template>
    </div>
    <div class="clock">
      <button class="player_2">🕒 10:00</button>
    </div>
  </div>
</div>
