<div class="row">
  <div class="col-sm-3 player_1">
    <div class="player">
      <p>{{schach.player["username"]}}</p>
    </div>
    <div class="clock">
      <button class="player_1">🕒 10:00</button>
    </div>
    <div class="deadPieces">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
      <img src="assets/images/piece (1).png" alt="">
    </div>
  </div>
  <div class="col-sm-6">
    <app-board></app-board>
  </div>
  <div class="col-sm-3 player_2">
    <div class="deadPieces">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
      <img src="assets/images/piece (7).png" alt="">
    </div>
    <div class="clock">
      <button class="player_2">🕒 10:00</button>
    </div>
    <div class="player">
      <p>{{schach.opponentPlayer["username"]}}</p>
    </div>
  </div>
</div>
