<div class="row">
  <div class="col-sm-3 player_1">
    <div class="player">
      <p>{{schach.opponentPlayer["username"]}}</p>
    </div>
    <div class="clock">
      <div class="time player_1">🕒 10:00</div>
      <!--<div class="timer">
        <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">10</span>
      </div>
      <div class="control">
        <button onClick="timer.start(1000)">Start</button>
        <button onClick="timer.stop()">Stop</button>
        <button onClick="timer.reset(60)">Reset</button>
        <button onClick="timer.setMode(1)">Count up</button>
        <button onClick="timer.setMode(0)">Count down</button>
      </div>-->
    </div>
    <div class="deadPiecesWhite"></div>
  </div>
  <div class="col-sm-6">
    <app-board *ngIf="schach.isMultiPlayer == false"></app-board>
    <app-multi-player-board *ngIf="schach.isMultiPlayer == true"></app-multi-player-board>
  </div>
  <div class="col-sm-3 player_2">
    <div class="deadPiecesBlack"></div>
    <div class="clock">
      <div class="time player_2">🕒 10:00</div>
      <!--<div class="timer">
        <span class="hour">00</span>:<span class="minute">00</span>:<span class="second">10</span>
      </div>
      <div class="control">
        <button onClick="timer.start(1000)">Start</button>
        <button onClick="timer.stop()">Stop</button>
        <button onClick="timer.reset(60)">Reset</button>
        <button onClick="timer.setMode(1)">Count up</button>
        <button onClick="timer.setMode(0)">Count down</button>
      </div>-->
    </div>
    <div class="player">
      <p>{{schach.player["username"]}}</p>
    </div>
  </div>
</div>
